# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.o
*.swp

aclocal.m4
Makefile
Makefile.in
stamp-h1

config.log
config.status
config.h
config.h.in
configure

autom4te.cache/
src/.deps/
build-aux/

matxin.pc

src/html-deformat.cc
src/rtf-deformat.cc
src/txt-deformat.cc

src/Analyzer
src/LT
src/MG
src/Matxin_translator
src/SG_inter
src/SG_intra
src/ST_inter
src/ST_intra
src/ST_prep
src/ST_verb
src/fst2regex.pl
src/html-deformat
src/reFormat
src/rtf-deformat
src/txt-deformat

